<body style="background: #f2f2f2">
  
<h1 style="color: #6699ff;"><b>My Awesome Blog 4 U</b></h1>


<br>

 <div id="articles">
    <% @articles.each do |article| %>
      
      <%= render partial: 'article', locals:{article: article} %>
    
    <% end %>
 </div>
 

</body>
