
<h1 style="color: #6699ff;"><b>Welcome to My Awesome Blog!</b></h1>
<%= link_to 'Go to Blogs', 'articles', :class => "button btn btn-success btn-lg my-2", :id => 'indcolor' %>

<%= image_tag "blog", style: 'height:50vw;width:100vw;margin-bottom:20px;' %>

<div class="container">
 <p> A blog (a shortened version of “weblog”) is an online journal or informational website displaying information in reverse chronological order, with the latest posts appearing first, at the top. It is a platform where a writer or a group of writers share their views on an individual subject.</p><br>

 <p>There are many reasons to start a blog for personal use and only a handful of strong ones for business blogging. Blogging for business, projects, or anything else that might bring you money has a very straightforward purpose – to rank your website higher in Google SERPs, a.k.a. increase your visibility.</p>

</div>
<footer class="footer">
      <div class="container" style="background: Black;">
        <span class="text-center" style="color: white"><b>This is a  Awesome blog only 4 U</b></span>
      </div>
</footer>